img {
    vertical-align: top;
}

.dark-theme {
    --header-batt: #fff;
    --header-text: #fff;
    --header-bg-color: rgba(255, 255, 255, .03); 
    --header-nav: rgba(143, 155, 179, .3);
    --header-active-link: #7F9FF6;
}


.light-theme {
    --header-batt: #6D6D6D;
    --header-text: #6D6D6D;
    --header-bg-color: rgba(255, 255, 255, 1); 
    --header-nav: rgba(143, 155, 179, .3);
    --header-active-link: #7F9FF6;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
}

.full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    // width: 420px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    background-color: var(--bg-color);
    transition: background-color .5s ease;
}

.container {
    padding: 0 13px;
    width: 100%;
}

.header {
    background-color: rgba(255, 255, 255, .03);
    &__sect {
        display: flex;
        align-items: center;
    }
    &__up {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    @include fontAbha(12px, 14px, 300);
    color: var(--header-text);
    }
    &__energy {
        display: flex;
        align-items: center;
    }
    &__battery {
        margin-left: 8px;
        width: 25px;
        height: 10px;
        fill: var(--header-batt);
    }
    &__logo {
        &--indent {
            margin: 12px 0;
        }
    }
    &__search {
        position: relative;
        margin-right: 15px;
        margin-left: 15px;
        flex-grow: 1;
    }
    &__input {
        width: 100%;
        background-color: transparent;
        opacity: 0.2;
        border: 1px solid #8F9BB3;
        border-radius: 8px;
        @include font(12px, 14px, 300);
        padding: 7px 0 9px 12px;
    }
    &__in {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 14px;
        height: 14px;
        fill: var(--main-sect-search);
        transform: translate(-50%, -50%);
        opacity: .3;
    }
    &__icon {
        width: 20px;
        height: 23px;
        fill: var(--main-sect-bag);
    }
    &__nav {
        display: flex;
        overflow-x: auto;
        margin-left: -13px;
    }
    &__link {
        padding: 10px 18px;
        text-decoration: none;
        white-space: nowrap;
        color: var(--header-nav);
        @include font(14px, 16px, 300);
    }
    &__link.active {
        color: var(--header-active-link);
        font-weight: 500;
        border-bottom: 3px solid var(--header-active-link) ;
    }
}