body {
    background: #F2F2F2;
}

img {
    vertical-align: top;
}

.dark-theme {
    --bg-color: #2e2c39;

    --header-battery: #fff;
    --header-text: #fff;
    --header-bg-color: rgba(255, 255, 255, .03); 
    --header-nav: rgba(143, 155, 179, .3);
    --header-active-link: #7F9FF6;

    --main-sect-search: #E4E9F2;
    --main-sect-bag: #8F9BB3;
    
    --card-bg-color: rgba(255, 255, 255, .03); 
    --card-color: #fff;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --card-heart-color: rgba(143, 155, 179, .3);
    --card-heart-active-color: #8F9BB3;
    --card-new-price: #7F9FF6;
    --card-old-price: var(--card-heart-active-color );
    --card-raiting: var(--card-old-price);

    --checkbox-border: rgb(0, 0, 128);
    --checkbox-back: rgba(67, 67, 133, 0.5);
    --checkbox-color: rgba(37, 40, 48, 0.5);
    --checkbox-text: #ffffff;
    
    --footer-bg-color: #2e2c39;
    --footer-color: #8F9BB3;
    --footer-active: #7F9FF6;
}


.light-theme {
    --bg-color: #fff;

    --header-battery: #6D6D6D;
    --header-text: #6D6D6D;
    --header-bg-color: rgba(255, 255, 255, 1); 
    --header-nav: rgba(143, 155, 179, .3);
    --header-active-link: #7F9FF6;
    
    --main-sect-search: #E4E9F2;
    --main-sect-bag: #2E2C38;
    
    --card-bg-color: rgba(255, 255, 255, 1); 
    --card-color: #343241;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --card-heart-color: rgba(143, 155, 179, .3);
    --card-heart-active-color: #8F9BB3;
    --card-new-price: #2E4B9C;
    --card-old-price: var(--card-heart-active-color );
    --card-raiting: var(--card-old-price);
    
    --checkbox-border: rgb(110, 110, 232);
    --checkbox-back: rgba(0, 0, 128, .5);
    --checkbox-color: #ffffff;
    --checkbox-text: #000000;

    --footer-bg-color: #ffffff;
    --footer-color: #A4A4A4;
    --footer-active: #2E4B9C;
    
}

.dot {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
}

.full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    background-color: var(--bg-color) ;
    transition: background-color .5s ease;
}

.container {
    padding: 0 13px;
    width: 100%;
}

.header {
    background-color: rgba(255, 255, 255, .03);
    &__sect {
        display: flex;
        align-items: center;
    }
    &__up {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    @include fontAbha(12px, 14px, 300);
    color: var(--header-text);
    }
    &__energy {
        display: flex;
        align-items: center;
    }
    &__battery {
        margin-left: 8px;
        width: 25px;
        height: 10px;
        fill: var(--header-battery);
    }
    &__logo {
        &--indent {
            margin: 12px 0;
        }
    }
    &__search {
        position: relative;
        margin-right: 15px;
        margin-left: 15px;
        flex-grow: 1;
    }
    &__input {
        width: 100%;
        background-color: transparent;
        opacity: 0.2;
        border: 1px solid #8F9BB3;
        border-radius: 8px;
        @include font(12px, 14px, 300);
        padding: 7px 0 9px 12px;
    }
    &__in {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 14px;
        height: 14px;
        fill: var(--main-sect-search);
        transform: translate(-50%, -50%);
        opacity: .3;
    }
    &__icon {
        width: 20px;
        height: 23px;
        fill: var(--main-sect-bag);
    }
    &__nav {
        display: flex;
        overflow-x: auto;
        margin-left: -13px;
    }
    &__link {
        padding: 10px 18px;
        text-decoration: none;
        white-space: nowrap;
        color: var(--header-nav);
        @include font(14px, 16px, 300);
    }
    &__link.active {
        color: var(--header-active-link)  ;
        font-weight: 500;
        border-bottom: 3px solid var(--header-active-link) ;
    }
}