.main-sect {
    &__items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-right: -5px;
        margin-left: -5px;
        padding-top: 16px;
        flex-grow: 1;
        overflow: auto;
        min-height: 130px;
        height: calc(100vh - 170px);
    }
    &__item {
        width: 50%;
        margin-bottom: 16px;
        padding-right: 8px;
        padding-left: 8px;
    }
    &__additional {
        position: fixed;
        width: 360px;
        top: 35px;
        bottom: 0;
        left: 0;
        z-index: 10;
        outline: none;
    }
}